.btn {
    background: #F72D57;
    border-width: 0px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 140px;
    height: 46px;
    
}

