.footer {
    min-height: 100px;
    background: #F72D57;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__links {
        display: flex;
        width: 380px;
        justify-content: space-between;
    }
    &__link {
        display: block;
        font-weight: 300;
        font-size: 13px;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
}