.menu {
    padding-top: 35px;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        column-gap: 40px;
        list-style-type: none;
        align-items: center;
        &-link {
            text-decoration: none;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #3F3F3F;
            &:hover {
                color: #F72D57;
                text-decoration: none;
            }
        }
        &-cart {
            position: relative;
            &-counter {
                display: none;
                padding-top: 1px;
                position: absolute;
                width: 23px;
                height: 23px;
                background: #F72D57;
                border-radius: 100%;
                left: 32px;
                top: 20px;
                font-weight: 700;
                font-size: 15px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}